# Core data
pandas>=2.3.3
numpy>=2.4.2

# Machine Learning
scikit-learn>=1.8.0
joblib>=1.5.3

# Kafka
kafka-python>=2.3.1

# Database
psycopg2-binary>=2.9.11
sqlalchemy>=2.0.0

# Notebooks
jupyter>=1.1.1
ipykernel

# Visualization (notebooks)
matplotlib>=3.10.8
seaborn>=0.13.2

# Dashboard
streamlit>=1.55.0
plotly>=6.6.0
